<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".quest_noeat"
            android:exported="true" />
        <activity
            android:name=".quest_skipping"
            android:exported="true" />
        <activity
            android:name=".quest_run"
            android:exported="true" />
        <activity
            android:name=".quest_pushup"
            android:exported="true" />
        <activity
            android:name=".hasil_bmi"
            android:exported="true"
            android:parentActivityName=".hitung_bmi"
            />
        <activity
            android:name=".Quest"
            android:exported="true"
            android:parentActivityName=".menu_utama" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:parentActivityName=".login" />
        <activity
            android:name=".hitung_bmi"
            android:exported="true"
            android:parentActivityName=".menu_utama" />
        <activity
            android:name=".menu_utama"
            android:exported="true"
             />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>